<mat-card class="product-card-container">
  <mat-card-content class="product-content">
    <img
      src="assets/images/product_image_default.png"
      alt="Product"
      width="300px"
      height="300px"
      class="product-image"
    />

    <div class="product-details">
      <h3 class="product-name">{{ product.title }}</h3>
      <p class="product-description">{{ product.content }}</p>
      <p class="product-price">Por: R$ {{ product.price }}</p>
    </div>
    <button mat-raised-button color="primary" class="product-button">
      Adicionar no carrinho
    </button>
  </mat-card-content>
</mat-card>
