.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: 200px;

  > .edit-card {
    padding: 60px;
    width: 500px;

    > form {
      > .fields-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 20px;

        > .field {
          width: 400px;
        }
      }

      > .title {
        align-self: flex-start;
      }

      > .save-button {
        width: 100%;
      }
    }
  }
}
