.product-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  height: 600px;
  padding: 0px;
  margin: 20px 20px;

  border: 1 solid #ccc;

  > .product-content {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0px;

    > .delete-button {
      position: absolute;
      top: 0px;
      right: 0px;
      color: #000;
    }

    > .product-image {
      align-self: flex-start;
      margin-right: 20px;
    }
    > .product-details {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 500px;
      height: 100%;
      margin: 20px;

      > .product-name {
        font-size: 44px;
        margin: 0px;
      }

      > .product-content {
        font-size: 20px;
        margin: 0px;
        margin: 40px 0px;
      }

      > .product-price {
        font-size: 30px;
        margin: 0px;
        margin-bottom: 20px;
      }
    }
  }
}
