<form
  [formGroup]="signInForm"
  (ngSubmit)="onSignIn()"
  class="edit-card-container"
>
  <h1 class="title">Editar Produto</h1>
  <div class="fields-wrapper">
    <mat-form-field appearance="fill" class="field">
      <mat-label>Usuário</mat-label>
      <input name="username" formControlName="username" matInput />
    </mat-form-field>

    <mat-form-field appearance="fill" class="field">
      <mat-label>Senha</mat-label>
      <input
        name="password"
        formControlName="password"
        matInput
        type="password"
      />
    </mat-form-field>
  </div>
  <button
    mat-raised-button
    type="submit"
    color="primary"
    class="save-button"
    [disabled]="!signInForm.valid"
  >
    Salvar
  </button>
</form>
