<form
  [formGroup]="editProductForm"
  (ngSubmit)="onSubmit()"
  class="edit-card-container"
>
  <h1 class="title">Editar Produto</h1>
  <div class="fields-wrapper">
    <mat-form-field appearance="fill" class="field">
      <mat-label>Título</mat-label>
      <input name="title" formControlName="title" matInput />
    </mat-form-field>

    <mat-form-field appearance="fill" class="field">
      <mat-label>Conteúdo</mat-label>
      <textarea name="content" formControlName="content" matInput></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill" class="field">
      <mat-label>Preço</mat-label>
      <input name="price" formControlName="price" matInput />
    </mat-form-field>
  </div>
  <button
    mat-raised-button
    type="submit"
    color="primary"
    class="save-button"
    [disabled]="!editProductForm.valid"
  >
    Salvar
  </button>
</form>
