<mat-card class="products-list-container">
  <mat-card-content class="content">
    <mat-form-field class="search-input">
      <mat-label>Buscar produto</mat-label>
      <input matInput type="text" />
    </mat-form-field>
    <div *ngIf="products$ | async; else loading" class="products-list">
      <app-product-card
        *ngFor="let product of products$ | async"
        [product]="product"
      ></app-product-card>
    </div>
    <ng-template #loading>
      <mat-spinner></mat-spinner>
    </ng-template>
  </mat-card-content>
</mat-card>
