.products-list-container {
  display: flex;
  flex-direction: column;
  padding: 100px;
  margin: 0 100px;

  > .content {
    > .search-input {
      width: 300px;
    }

    > .products-list {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
